body{
	font-size:12px;
	line-height:12px;
}





.col{
	vertical-align:top;
	border:1px solid #ccc;
	text-align:left;
	padding:6px;	
}

.titreTab{	
	text-align:center;
	background-color:#aaa;		
}

.titreFdr{
	padding:8px;
	text-align:center;
	background-color:#a97b50;
	border:1px solid #555;	
	font-weight:bold;
}

.champFdr td{
	width:50%;
}

.imgConformite{
	width:30px;
}

.imgDpe{
	width:320px;
}

.graphLegend{
	font-size:7px;
	font-style: italic;
}


.dpeGes{
	text-align:right;
}
.dpeCep{
	text-align:left;
}

.perfErr{
	color:FF0000;
}

.textRight{
	text-align:right;
}


/* interactions */


.lots{
	width:25%;
}

.tabInter .risques{
	width:120px;
}


.traitement{
	width:50%;
	text-align:justify;
}

.legendRisq{
	margin-top:10px;
	margin-bottom:20px;
}


.legendRisq img{
	width:18px;
	vertical-align:middle;
}

.notesBasPage{
	position:absolute;
	bottom:0px;
	font-size:8px;
}

.risqNiv1{
	background-color:#47a25b;
}

.risqNiv2{
	background-color:#ffa240;
}

.risqNiv3{
	background-color:#ff6c6c;
}


/*Tableau des etapes */

.tabEtape{
	width:100%;
}

.nomLot{
	width:15%;
}

.existant{
	width:20%;
}


.perfFinale{
	width:15%;
}
.recom{
	width:'.($this->bFdrEditeur ? 45 : 30).'%;
}
				


/*contournement rowspan et page break de domPDF*/

.sansBord2,.sansBordBas,.sansBordHaut{
	vertical-align : top;
}

.sansBord2{
	border-bottom-color: transparent !important;
	border-top-color: transparent !important;	
}

.sansBordBas{
	border-bottom-color: transparent !important;	
}

.sansBordHaut{
	border-top-color: transparent !important;	
}

.pbrNone{
	page-break-inside:avoid;
}

.pbra{
	page-break-after:always;
}

.pbrb{
	page-break-before:always;
}



